
@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic');

*{
    padding:0;
    margin:0;
}

body{
    background-color:#c6a7ff;
}

div{
    position: relative;
    clear: both;
}

.header{
    text-align: center;
    
}
.header>img{
    margin: 0 auto;
    width:600px;
}

.content {
    text-align: center;
}
.item{
    background-color: cadetblue;
    font-weight: bold;
    width: 100%;
    color:#fff;
}

.item h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 68px;
}
.item p{
    margin:15px 0;
    font-family: 'Poiret One', cursive;
    margin-top 10px;
    font-size:34px;
    margin: 0 5px;
}

.item img{
    width:100%;
}

.item:nth-child(2n){
    background-color: dimgray;
    
}

.footer{
    border-top:2px solid black;
    height: 80px;
    text-align: left;
    font-size: 24px;
    padding-top:30px;
    padding-left:10px;
}

.registration h1{
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
}

.registration form input{
    display:block;
    margin:20px 0;
    margin-left:40%;
    height:30px;
    width:400px;
    font-family: 
}

.registration input[type=submit]{
    background-color: red;
    width:200px;
    border-radius: 30%;
    margin-left:45%;
    font-family:'Poiret One', cursive;
    color:white;
}