@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:inherit;
    font-weight:bold;
}
a:hover{
    background-color: aliceblue;
    border-radius: 10%;
}
body {
    background-color: #c6a7ff;
}

div {
    position: relative;
    clear: both;
}

h1{
    background-color: darkslateblue;
    color: white;
    margin-top:40px;
}
.header {
    text-align: center;

}

.header > img {
    margin: 0 auto;
    width: 600px;
}
.nav{
    display: flex;
    width: 100%;
    justify-content:space-around;
    margin: 0 auto;
    background-color: violet;
}
.nav li{
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-size: 36px;

}

.content {
    text-align: center;
}

.item {
    background-color: cadetblue;
    font-weight: bold;
    width: 100%;
    color: #fff;
}

.item h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 68px;
}

.item p {
    margin: 15px 0;
    font-family: 'Poiret One', cursive;
    margin-top 10px;
    font-size: 34px;
    margin: 0 5px;
}

.item img, .item iframe {
    width: 100%;
    position: relative;
    top: 45px;
}

.item:nth-child(2n) {
    background-color: dimgray;

}

.footer {
    border-top: 2px solid black;
    height: 80px;
    text-align: left;
    font-size: 24px;
    padding-top: 30px;
    padding-left: 10px;
}

.registration h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
}

.registration form input {
    display: block;
    margin: 20px 0;
    margin-left: 40%;
    height: 30px;
    width: 400px;
    font-family: 'Poiret One', cursive;
    padding-left:10px;
    font-weight:bold;
    font-size: 24px;
}


input[type=submit] {
    background-color: red;
    width: 200px;
    height: 30px;
    border-radius: 30%;
    margin-left: 8%;
    font-family: 'Poiret One', cursive;
}

@media screen and (max-width:800px) {
    .item h1 {
        font-size: 88px;
    }
    .item p {

        font-size: 54px;

    }
    .registration h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 68px;
    }

    .registration form input {
        width: 100%;
        font-size: 18px;
        margin-left: 0;
    }

}

.footer{
    font-family:  'Poiret One', cursive;
}


.profile ul, .services ul{
    padding-right:20px;
    list-style-type: none;
    border:solid 1px black;
    background-color:#c6a799;
    text-align: left;
}

.profile h1, .services h1, .task h1{
    font-family:  'Amatic SC', cursive;
    font-size: 68px;
}

.profile ul li, .services ul li{
    font-family:  'Poiret One', cursive;
    font-size: 34px;
    margin:10px 0;
    margin-left: 20px;
}

.profile ul li img{
    border-radius: 30%;
    opacity: 0.8;
}


.settings form{
    display: block;
    float:left;
    clear: both;
}

.settings form input{
    display: block;
    width:450px;
    height:30px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left:20px;
    font-family:    'Amatic SC', cursive;
    font-size:24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.active .iframe{
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
    float:right;
}

.task h1{
    margin-left:20px;
    background-color: none;
    font-size: 24px;
}

.task progress{
    width:500px;
    margin-left: 20px;
    height:50px;
    margin:10px 0;
    display: block;
}

.task span{
    font-family:   'Amatic SC', cursive;
    font-size: 24px;
    font-weight:bold;
}